<div class="card mt-5">
    <div class="card-body">
        <form [formGroup]="updateNuggetForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Titre</label>
                <input type="text" class="form-control" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" value="{{nugget?.title}}">
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                    <div *ngIf="f.title.errors.required">Veuillez donner un titre à votre pépite</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Image</label>
                <img *ngIf="nugget != undefined && nugget!.urlImage != null" src="{{nugget!.urlImage}}" alt="" class="rounded mx-auto d-block img-size">
                <label class="form-label">Contenu</label>
                <div class="row">
                    <div class="col-lg-6">
                        <textarea type="text" rows="10" class="form-control" formControlName="content" [ngClass]="{ 'is-invalid': submitted && f.content.errors }" value="{{nugget?.content}}"></textarea>
                    </div>
                    <div class="col-lg-6">
                        <markdown lineNumbers [data]="f.content.value || data"></markdown>
                    </div>
                </div>
                <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                    <div *ngIf="f.content.errors.required">Veuillez remplir le contenu de votre pépite</div>
                </div>
            </div>

            <div class="row" style="margin-bottom:15px;">
                <div class="col-sm-4 d-flex justify-content-end align-items-start btn-group" role="group">
                    <button type="button" class="btn btn-warning" (click)="deleteImage()">Supprimer l'image</button>
                    <input type="file" #file placeholder="Choose file" (change)="uploadImage(file.files)" style="display:none;">
                    <button type="button" class="btn btn-success" (click)="file.click()">Ajouter ou remplacer une image</button>
                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-2">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Modifier
                    </button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </div>
            </div>

        </form>
    </div>
</div>
