<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <h2>Règles de publication :</h2>
        <p>Ce site est avant tout à but humoristique et pédagogique. Il n'est en aucun cas question de cibler une entreprise ou une personne.</p>
        <p>Le texte, les histoires, les noms et le code que vous publieriez devront être préalablement anonymisés à moins d'avoir obtenu l'autorisation préalable des personnes concernées.</p>
        <p>Critiquons ensemble le code et les mauvaises pratiques avec bienveillance et humour. 🙂 Et ... faites vous plaisir ... 😏</p>
    </div>
    <div class="col"></div>
</div>
<div class="card mt-5">
    <div class="card-body">
        <form [formGroup]="createNuggetForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Titre</label>
                <input type="text" class="form-control" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                    <div *ngIf="f.title.errors.required">Veuillez donner un titre à votre pépite</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Contenu</label>
                <div class="row">
                    <div class="col-lg-6">
                        <textarea rows="20" type="text" class="form-control" formControlName="content" [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></textarea>
                    </div>
                    <div class="col-lg-6">
                        <markdown lineNumbers [data]="f.content.value"></markdown>
                    </div>
                </div>
                <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                    <div *ngIf="f.content.errors.required">Veuillez remplir le contenu de votre pépite</div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
                    <button type="button" class="btn btn-success" (click)="file.click()">Ajouter un fichier</button>
                </div>
                <div class="col-sm-8"></div>
                <div class="col-sm-2">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Créer
                    </button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </div>
            </div>
        </form>
    </div>
</div>
