<div class="card">
    <h4 class="card-header py-3">Modifier mon mot de passe</h4>
    <div class="card-body">
        <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Ancien mot de passe</label>
                <input type="password" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
                <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.oldPassword.errors.required">L'ancien mot de passe est requis</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Nouveau mot de passe</label>
                <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.newPassword.errors.required">Le nouveau mot de passe est requis</div>
                </div>
            </div>
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Modifier
            </button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
    </div>
</div>