<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark px-5">
  <div class="container">
    <ul class="navbar-nav justify-content-start">
      <li class="nav-item">
        <a class="navbar-brand align-middle" href="#">
          <img src="/favicon.ico" alt="" width="40" class="d-inline-block nav-link" routerLink="/" routerLinkActive="active">
          PépitesDeDev();
        </a>
      </li>
      <li class="nav-item align-middle">
        <a class="nav-link" routerLink="/add-nugget" routerLinkActive="active" *ngIf="user">Ajouter une pépite !</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!user">Connexion</a>
        <a class="nav-item nav-link" routerLink="/user-manager" routerLinkActive="active" *ngIf="user">
          <mat-icon class="align-middle">person</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/add-user" routerLinkActive="active" *ngIf="!user">Créer un compte</a>
        <a class="nav-item nav-link" (click)="logout()" *ngIf="user">
          <mat-icon class="align-middle">logout</mat-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container container-marge-top-bottom">
  <router-outlet></router-outlet>
</div>


