<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark px-5">
  <div class="container">
    <ul class="navbar-nav justify-content-start">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">PépitesDeDev();</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-nugget" routerLinkActive="active" *ngIf="user">Ajouter une pépite !</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!user">Connexion</a>
        <a class="nav-item nav-link" routerLink="/user-manager" routerLinkActive="active" *ngIf="user">Gestion de compte</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/add-user" routerLinkActive="active" *ngIf="!user">Inscription</a>
        <a class="nav-item nav-link" (click)="logout()" *ngIf="user">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top: 70px; margin-bottom: 30px;">
  <router-outlet></router-outlet>
</div>
