<h1>{{title}}</h1>
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
    <a class="nav-item nav-link" routerLink="/list-nugget" routerLinkActive="active">Nuggets-List</a>
    <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<router-outlet></router-outlet>
