<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Pépites de code</a>
    <a class="nav-item nav-link" routerLink="/list-nuggets" routerLinkActive="active" *ngIf="user">Liste des Pépites !</a>
    <a class="nav-item nav-link" routerLink="/add-nugget" routerLinkActive="active" *ngIf="user">Ajout d'une pépite</a>
    <button class="btn btn-link nav-item nav-link" (click)="logout()" *ngIf="user">Logout</button>
    <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!user">Login</a>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
