<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-fill">
    <li [ngbNavItem]="1">
        <button ngbNavLink><h4>Mes pépites</h4></button>
        <ng-template ngbNavContent>
            <app-list-nugget-user></app-list-nugget-user>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <button ngbNavLink><h4>Gestion de compte</h4></button>
        <ng-template ngbNavContent>
            <p>
                Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
                8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
                stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
            </p>
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ active }}</pre>