<div class="card">
    <h4 class="card-header py-3">Modifier mon email</h4>
    <div class="card-body">
        <form [formGroup]="updateEmailForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Nouvel email</label>
                <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">L'email est requis</div>
                </div>
            </div>
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Modifier
            </button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
    </div>
</div>