/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.img-size {
    height: auto;
    max-height: 700px;
    max-width: 100%;
}

.container-marge-top-bottom {
    margin-top: 70px;
    margin-bottom: 30px;
}

.display-file-input {
    display:none;
}